ul {
    list-style-type: none;
    margin: 1rem 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding-bottom: 1.5rem;
    li {
      display: flex;
      width: 31%;
      flex: 0 0 31%;
      margin: 0 1.4%;
      scroll-snap-align: start;
      input[data-name^="drone"] {
        display: none;
      }
      label {
        display: block;
        position: relative;
        cursor: pointer;
        width: 100%;
        &:before {
          background-color: white;
          color: white;
          content: " ";
          display: block;
          border-radius: 50%;
          border: 1px solid grey;
          position: absolute;
          top: calc(50% - 14px);
          left: calc(50% - 13px);
          width: 25px;
          height: 25px;
          text-align: center;
          line-height: 25px;
          transition-duration: 0.4s;
          transform: scale(0);
        }
        img {
          transition-duration: 0.2s;
          transform-origin: 50% 50%;
          width: 100%;
        }
      }
    }
  }

  .dimentions {
    display: flex;
    flex-wrap: wrap;
    div{
      width: 100%;
      .size-input {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: .5rem 0;
        align-items: center;
        border-top: solid 1px #ddd;
        border-bottom: solid 1px #ddd;
        border-left: solid 1px #ddd;
        padding-left: .5rem;
        label {
          width: 100%;
          text-align: left;
          margin-bottom: 0;
        }
        input {
          padding: .5rem;
          outline: none;
          border-bottom: 0px;
          border-top: 0px;
          border-left: solid 1px #ddd;
          border-right: solid 1px #ddd;
          &:focus {
            box-shadow: inset 1px -1px 8px -5px rgba(0, 0, 0, .5);
            border-bottom: 0px;
            padding: 0.53rem;
          }
        }
      }
    }
  }

  :checked + label {
    border-color: #ddd;
    &:before {
      content: "✓";
      background-color: grey;
      transform: scale(1);
      z-index: 2;
    }
    img {
      transform: scale(1);
      z-index: -1;
      background: #e8e8e8;
      border-radius: 50%;
    }
  }