$skyBlue: #0099ff;
$lightGreen: #b6ce4b;
$red: red;

.btn {
    &.default {
        background: $skyBlue;
        color: #fff;
        &:hover {
            background: darken($skyBlue, 10%);
        }
    }
    &.action {
        background: $lightGreen;
        color: #fff;
        &:hover {
            background: darken($lightGreen, 10%);
        }
    }
    &.danger {
        background: $red;
        color: #fff;
        &:hover {
            background: darken($red, 10%);
        }
    }
}