.card {
    margin: 1rem 0;
    .card-body {
        padding: 0 1rem;
        .noJobsMessage {
            padding: 1rem;
            margin: 0;
        }
        .job {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 0;
            border-bottom: solid 1px #ddd;
            &:last-child {
                border-bottom: none;
            }
            @media (max-width: 350px) {
                button {
                    width: 100%;
                    padding: .3rem;
                    margin: .2rem 0;
                }
            }
            .info {
                width: 100%;
                p {
                    margin: 0;
                }
            }
            .actions {
                .btn {
                    padding: 0;
                    height: 30px;
                    width: 30px;
                    line-height: 19px;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}
.modal-wrapper .modal {
    height: 90%;
}