.modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .modal {
        display: flex;
        width: 100%;
        position: unset;
        .modal-con {
            display: block;
            background: #fff;
            width: 90%;
            position: relative;
            left: 5%;
            z-index: 2;
            overflow-y: scroll;
            padding: 2rem;
            @media (max-width: 350px) {
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
            .close {
                position: absolute;
                right: 1rem;
                top: 1rem;
            }
        }
        .modal-bg {
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(51, 51, 51, 0.5);
            width: 100%;
            height: 100%;
            z-index: 0;
        }
    }
}