.notifications {
    position: fixed;
    bottom: 0;
    right: .7rem;
    z-index: 2;
    @media(max-width: 769px) {
        position: fixed;
        &.top0{top: -13px;}
        &.top1{top: 42px;}
        bottom: 100%;
        width: 100%;
        right: 0;
        z-index: 3;
    }
    .conflict {
        margin: .8rem 0;
        padding: 1rem;
        font-size: 1rem;
        font-weight: 700;
        background: rgba(255, 0, 0);
        color: white;
    }
    .info {
        margin: .8rem 0;
        padding: 1rem 2rem 1rem 1rem;
        font-size: 1rem;
        font-weight: 700;
        background: rgba(0, 153, 255);
        color: white;
        position: relative;
        &.success {
            background: #b6ce4b;
        }
        .close_noti {
            position: absolute;
            right: 10px;
            top: 2px;
            cursor: pointer;
        }
    }
}

/* class that fades elements after 5s */
.fade_after_5s{
    -webkit-animation: seconds 1.0s forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 5s;
    animation: seconds 1.0s forwards;
    animation-iteration-count: 1;
    animation-delay: 5s;
}

@-webkit-keyframes seconds {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      left: -9999px;
      position: absolute;
    }
}
@keyframes seconds {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      left: -9999px;
      position: absolute;
    }
}