.card-body {
    padding: 0 1rem;
    .quote {
        border-bottom: solid 1px #ddd;
        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            .finished {
                display: flex;
                align-items: center;
                b {
                    font-size: 1.5rem;
                    margin-left: .5rem;
                    color: #b6ce4b;
                }
            }
        }
        &:last-child {
            border-bottom: none;
        }
        @media (max-width: 350px) {
            button {
                width: 100%;
                padding: .3rem;
                margin: .2rem 0;
            }
        }
    }
}
.modal-wrapper .modal {
    height: 90%;
}