.msg {
    padding: .5rem;
    border-radius: 0;
    &.default {
        background: #0099ff;
        color: #fff;
    }
    &.action {
        background: #b6ce4b;
        color: #fff;
    }
    &.danger {
        background: #f75b5b;
        color: #fff;
        &:hover {
            background: darken(#f75b5b, 5%);
        }
    }
}