<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="builder-form">
                    <h1>{{ type }}</h1>

                    <div class="notifications" :class="{top1: scrollPosition < 42, top0: scrollPosition > 42}">
                        <div v-if="this.response.cost !== ''" class="info">
                            The Estimated Cost of the Job is <b>£{{this.response.cost}}</b>
                            <span class="close_noti" @click="removeCost">&times;</span>
                        </div>
                        <div v-if="this.savedMsg != ''" class="info success">
                            {{this.savedMsg}}<br>
                            <a href="/quotes">View it Here</a>
                            <span class="close_noti" @click="removeSavedMsg">&times;</span>
                        </div>
                        <div v-if="this.validationMessage != ''" class="conflict">
                            {{this.validationMessage}}
                        </div>
                        <div v-if="errorArr !== null">
                            <div v-for="(msg,input) in errorArr" v-bind:key="input">
                                {{input}}:<p v-for="txt in msg" v-bind:key="txt">{{txt}}</p>
                            </div>
                        </div>
                    </div>
                    <h3>Materials</h3>
                    <ul>
                        <li>
                            <input type="radio" required id="plywood" data-name="drone" name="material" v-model="formData.material" value="plywood">
                            <label for="plywood">
                                <img src="http://placehold.it/100x100"/>
                            </label>
                        </li>
                        <li>
                            <input type="radio" required id="sheet" data-name="drone" name="material" v-model="formData.material" value="sheet">
                            <label for="sheet">
                                <img src="http://placehold.it/100x100"/>
                            </label>
                        </li>
                        <li>
                            <input type="radio" required id="softwood" data-name="drone" name="material" v-model="formData.material" value="softwood">
                            <label for="softwood">
                                <img src="http://placehold.it/100x100"/>
                            </label>
                        </li>
                        <li>
                            <input type="radio" required id="hardwood" data-name="drone" name="material" v-model="formData.material" value="hardwood">
                            <label for="hardwood">
                                <img src="http://placehold.it/100x100"/>
                            </label>
                        </li>
                        <li>
                            <input type="radio" required id="metal" data-name="drone" name="material" v-model="formData.material" value="metal">
                            <label for="metal">
                                <img src="http://placehold.it/100x100"/>
                            </label>
                        </li>
                    </ul>
                    <h3>Furniture Shape</h3>
                    <ul>
                        <li>
                            <input type="radio" required id="cube" data-name="drone" v-model="formData.shape" value="cube">
                            <label for="cube">
                                <img src="http://placehold.it/100x100?text=Cube" alt="Cube"/>
                            </label>
                        </li>
                        <li>
                            <input type="radio" required id="cuboid" data-name="drone" v-model="formData.shape" value="cuboid">
                            <label for="cuboid">
                                <img src="http://placehold.it/100x100?text=Cuboid" alt="Cuboid"/>
                            </label>
                        </li>
                        <li>
                            <input type="radio" required id="cylinder" data-name="drone" v-model="formData.shape" value="cylinder">
                            <label for="cylinder">
                                <img src="http://placehold.it/100x100?text=Cylinder" alt="Cylinder"/>
                            </label>
                        </li>
                        <li>
                            <input type="radio" required id="hexagonal_prism" data-name="drone" v-model="formData.shape" value="hexagonal_prism">
                            <label for="hexagonal_prism">
                                <img src="http://placehold.it/100x100?text=Hexagonal+Prism" alt="Hexagonal Prism"/>
                            </label>
                        </li>
                        <li>
                            <input type="radio" required id="triangle" data-name="drone" v-model="formData.shape" value="triangle">
                            <label for="triangle">
                                <img src="http://placehold.it/100x100?text=Triangular+Prism" alt="Triangular Prism"/>
                            </label>
                        </li>
                    </ul>
                    <div class="dimentions">
                        <div v-if="formData.shape === 'cylinder'">
                            <div class="size-input">
                                <label for="c_radius">Radius</label>
                                <input type="number" id="c_radius" name="c_radius" v-model="formData.c_radius" placeholder="300mm">
                            </div>
                            <div class="size-input">
                                <label for="c_height">Height</label>
                                <input type="number" id="c_height" name="c_height" v-model="formData.c_height" placeholder="600mm">
                            </div>
                        </div>

                        <div v-if="formData.shape === 'hexagonal_prism'">
                            <div class="size-input">
                                <label for="hex_base">Base Edge</label>
                                <input type="number" id="hex_base" name="hex_base" v-model="formData.hex_base" placeholder="300mm">
                            </div>
                            <div class="size-input">
                                <label for="hex_height">Height</label>
                                <input type="number" id="hex_height" name="hex_height" v-model="formData.hex_height" placeholder="600mm">
                            </div>
                        </div>

                        <div v-if="formData.shape === 'cube' || formData.shape === 'cuboid'">
                            <div class="size-input">
                                <label for="width">Width</label>
                                <input type="number" id="width" name="width" v-model="formData.width" placeholder="600mm">
                            </div>
                            <div class="size-input">
                                <label for="height">Height</label>
                                <input type="number" id="height" name="height" v-model="formData.height"
                                    placeholder="300mm">
                            </div>
                            <div class="size-input">
                                <label for="length">Length</label>
                                <input type="number" id="length" name="length" v-model="formData.length" placeholder="1400mm">
                            </div>
                        </div>
                    </div>
                    <h3>Mechanical Features</h3>
                    <ul>
                        <li>
                            <input type="checkbox" id="draws" data-name="drone" v-model="formData.features_mech.draws">
                            <label for="draws"><img src="http://placehold.it/100x100"/></label>
                        </li>
                        <!-- make sure all options work together and
                        if they don't make conditions with v-if -->
                        <li>
                            <input type="checkbox" id="doors" data-name="drone" v-model="formData.features_mech.doors">
                            <label for="doors"><img src="http://placehold.it/100x100"/></label>
                        </li>
                        <li>
                            <input type="checkbox" id="lids" data-name="drone" v-model="formData.features_mech.lids">
                            <label for="lids">
                                <img src="http://placehold.it/100x100"/>
                            </label>
                        </li>
                        <li>
                            <input type="checkbox" id="lids" data-name="drone" v-model="formData.features_mech.lids">
                            <label for="lids"><img src="http://placehold.it/100x100"/></label>
                        </li>
                        <li>
                            <input type="checkbox" id="lids" data-name="drone" v-model="formData.features_mech.lids">
                            <label for="lids"><img src="http://placehold.it/100x100"/></label>
                        </li>
                    </ul>
                    <h3>Tech &amp; IOT Features</h3>
                    <ul>
                        <li>
                            <input type="checkbox" id="leds" data-name="drone" v-model="formData.features_tech.leds">
                            <label for="leds"><img src="http://placehold.it/100x100"/></label>
                        </li>
                        <li>
                            <input type="checkbox" id="speakers" data-name="drone" v-model="formData.features_tech.speakers">
                            <label for="speakers"><img src="http://placehold.it/100x100"/></label>
                        </li>
                        <li>
                            <input type="checkbox" id="motorized" data-name="drone" v-model="formData.features_tech.motorized">
                            <label for="motorized"><img src="http://placehold.it/100x100"/></label>
                        </li>
                    </ul>
                    <button class="btn default" @click="validateQuote">Quote Me</button>
                    <button class="btn action" v-if="this.type === 'edit' && this.showSaveQuote && this.validationMessage === ''" @click="validateEdit">Save Quote</button>
                    <button class="btn action" v-if="this.type === 'quote' && this.showSaveQuote && this.validationMessage === ''" @click="validateSave">Save Quote</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            type: String,
            formData: Object,
        },
        data() {
            return {
                errorArr: null,
                response: {
                    cost: '',
                    basetime: '',
                    shapetime: '',
                    skill_level: '',
                },
                scrollPosition: null,
                showSaveQuote: false,
                savedMsg: '',
                validationMessage: ''
            }
        },
        mounted() {
            window.addEventListener('scroll', this.updateScroll);
        },
        methods: {
            validateQuote() {
                if(this.formData.features_mech.lids & this.formData.features_mech.draws || this.formData.features_mech.draws & this.formData.features_mech.doors) {
                    this.validationMessage = "Sorry but these features don't work together, please refine your selection.";
                }
                else {
                    this.validationMessage = '';
                    this.submitForm();
                }
            },
            validateSave() {
                if(this.formData.features_mech.lids & this.formData.features_mech.draws || this.formData.features_mech.draws & this.formData.features_mech.doors) {
                    this.validationMessage = "Sorry but these features don't work together, please refine your selection.";
                }
                else if(this.validationMessage === '') {
                    this.saveQuote();
                }
            },
            validateEdit() {
                if(this.formData.features_mech.lids & this.formData.features_mech.draws || this.formData.features_mech.draws & this.formData.features_mech.doors) {
                    this.validationMessage = "Sorry but these features don't work together, please refine your selection.";
                }
                else if(this.validationMessage === '') {
                    this.saveQuote();
                }
            },
            submitForm() {
                this.showSaveQuote = true;
                this.errorArr = null;
                this.response = {};
                axios.post('/api/quotes/build', this.formData).then(response => {
                    let obj = response.data.output;
                    this.response = obj;
                }).catch(error => {
                    console.log(error);
                    this.errorArr = error.response.data.errors;
                });
            },
            saveQuote() {
                this.formData.baseCostTIme = this.response;

                axios.post('/api/quotes/save', this.formData).then(response => {
                    this.savedMsg = 'Quote has been saved to your profile';
                    this.showSaveQuote = false;
                    this.$parent.response = this.response;
                    this.$parent.formData =  this.formData;
                }).catch(error => {
                    console.log(error);
                });
            },
            removeCost: function() {
                this.response.cost = '';
            },
            removeSavedMsg: function() {
                this.savedMsg = '';
            },
            updateScroll() {
                this.scrollPosition = window.scrollY
            },
            localValidate(){
                // Checks that nothing conflicts in the build then assigns the correct message
                if(this.formData.features_mech.lids & this.formData.features_mech.draws || this.formData.features_mech.draws & this.formData.features_mech.doors) {
                    this.validationMessage = "Sorry but these features don't work together, please refine your selection.";
                }
                else{
                    this.validationMessage = '';
                }
            }
        },
        watch: {
            // Watches for any changes in data then runs the Local Validation.
            formData: {
                handler(val){
                    this.localValidate();
                },
                deep: true
            }
        }
    };
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    .builder-form {
        width: 90%;
        max-width: 400px;
        margin: 0 auto;
    }

    @import '../../sass/builder.scss';
    @import '../../sass/notifications.scss';
    @import '../../sass/buttons.scss';
</style>
