<template>
    <BuilderForm v-if="this.formData"
        type="quote"
        :formData="this.formData"
    ></BuilderForm>
</template>

<script>
    import BuilderForm from './BuilderForm.vue'
    export default {
        data() {
            return {
                formData: {
                    material: 'plywood',
                    shape: 'cube',
                    /* Dimention inputs */
                    width: 600,
                    height: 300,
                    length: 1200,
                    c_radius: 300,
                    c_height: 600,
                    hex_base: 300,
                    hex_height: 600,
                    /* Mechanical Features */
                    features_mech: {
                        draws: false,
                        doors: false,
                        lids: false,
                    },
                    /* Tech & IOT Features */
                    features_tech: {
                        leds: false,
                        speakers: false,
                        motorized: false,
                    },
                },
            }
        }
    };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    .builder-form {
        width: 90%;
        max-width: 400px;
        margin: 0 auto;
    }

    @import '../../sass/builder.scss';
    @import '../../sass/notifications.scss';
    @import '../../sass/buttons.scss';
</style>
