<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="job-form">

                    <h3>Job Info for #{{currentJob.id}}</h3>

                    <div class="job-info">
                        <p>Currently Assigned To: {{currentJob.worker.name}}</p>
                        <p>Customer ID: {{currentJob.customer_id}}</p>
                        <p>Due Date: {{currentJob.due_date}}</p>
                    </div>

                    <div v-if="currentJob.done === 0">
                        <div class="range-stepper">
                            <label for="progress">Progress</label>
                            <!--<input id="progress" class="e-range" type="range" min="0" max="100" step="20" v-model="currentJob.progress">-->
                            <input id="progress" type='range' min='0' max='100' step='20' class="n n5" v-model="currentJob.progress"/>
                        </div>
                    </div>

                    <button class="btn action" v-if="currentJob.progress != 100 && currentJob.done === 0" @click="Update">Update Job</button>
                    <button class="btn action" v-if="currentJob.progress == 100 && currentJob.done === 0" @click="Done">Finish Job</button>

                    <p class="msg" v-bind:class="{ 'default': isActive, 'danger': hasError }" v-if="this.msg != null">
                        {{this.msg}}
                    </p>

                    <div class="btn action" v-if="currentJob.done === 1">
                        Job Finished
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            currentJob: Object,
        },
        data() {
            return {
                msg: null,
                isActive: false,
                hasError: false
            }
        },
        methods: {
            Done: function(){
                this.currentJob.done = 1;
                this.Update();
            },
            Update: function(){
                let self = this;
                axios.post('/api/jobs/update', {'job':this.currentJob}).then(response => {
                    console.log(response);
                    if (response.data.status == 'error') {
                        this.msg = response.data.msg;
                        this.isActive = true;
                        this.hasError = true;
                    }else if (response.data.status == 'success'){
                        this.msg = response.data.msg;
                        this.isActive = true;
                        this.hasError = false;
                    }
                }).catch(error => {
                    console.log(error);
                });
            }
        }
    };
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    @import '../../sass/jobForm.scss';
    @import '../../sass/states.scss';
    @import '../../sass/buttons.scss';
</style>
