<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Job Component</div>
                    <div class="card-body">
                        <div class="job" v-for="job in JobsToPickup" :key="job.id">
                            <div class="info">
                                <p>Customer ID:{{job.customer_id}}</p>
                                <p>Job ID:{{job.id}}</p>
                                <p>Due Date: {{job.due_date}}</p>
                                <button class="btn action" v-if="job.progress === 0 && job.worker === null" @click="updateJob(job.id)">Pick Up</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Jobs Assigned To You</div>
                    <div class="card-body">
                        <p class="noJobsMessage" v-if="this.myJobs <= 0">You Currently Don't have any Jobs in Progress</p>
                        <div class="job" v-for="job in myJobs" :key="job.id">
                            <div class="info">
                                <progressBar :progress="job.progress"></progressBar>
                                <p v-if="job.worker != null">Assigned To: {{job.worker.name}}</p>
                                <p>Customer ID:{{job.customer_id}}</p>
                                <p>Job ID:{{job.id}}</p>
                                <p>Due Date: {{job.due_date}}</p>
                                <button class="btn action" @click="openJob(job.id)">Open Job</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Finished Jobs</div>
                    <div class="card-body">
                        <p class="noJobsMessage" v-if="this.myFinishedJobs <= 0">You Currently Don't have any Finished Jobs</p>
                        <div class="job" v-for="job in myFinishedJobs" :key="job.id">
                            <div class="info">
                                <progressBar :progress="job.progress"></progressBar>
                                <p v-if="job.worker != null">Assigned To: {{job.worker.name}}</p>
                                <p>Customer ID:{{job.customer_id}}</p>
                                <p>Job ID:{{job.id}}</p>
                                <p>Due Date: {{job.due_date}}</p>
                                <button class="btn action" @click="openJob(job.id)">Open Job</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-wrapper" v-if="this.showEdit">
            <div class="modal">
                <div class="modal-bg" @click="closeEdit"></div>
                <div class="modal-con">
                    <button class="close" @click="closeEdit">&times;</button>
                    <JobForm
                        v-if="this.currentJob"
                        :currentJob="this.currentJob"
                    ></JobForm>
                    <BuilderForm
                        v-if="this.formData"
                        type="quote"
                        :formData="this.formData"
                    ></BuilderForm>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import BuilderForm from './BuilderForm.vue'
    export default {
        data() {
            return {
                jobs: [],
                jobID: {
                    job_id: null
                },
                workerName:'',
                worker_id: null,
                showEdit: false,
                formData: {},
                currentJob: {},
                response: {
                    cost: '',
                    basetime: '',
                    shapetime: '',
                    skill_level: '',
                },
            }
        },
        computed: {
            JobsToPickup() {
                let filteredJobs = this.jobs.filter((job) => {
                    return job.worker == null;
                });
                return filteredJobs;
            },
            myJobs() {
                let filteredJobs = this.jobs.filter((job) => {
                    return job.worker != null && job.worker.id == this.worker_id && job.done == 0;
                });
                return filteredJobs;
            },
            myFinishedJobs() {
                // Filters out finished Jobs
                let filteredJobs = this.jobs.filter((job) => {
                    return job.worker != null && job.worker.id == this.worker_id && job.done == 1;
                });
                // Then Filters out the First 10 or any Amount you set it to
                let size = 10;
                let firstTen = filteredJobs.slice(0,size).map(job =>{
                    return job;
                });
                return firstTen;
            }
        },
        methods: {
            openJob(id) {
                /*
                * if use clicks edit find the index of the quote using the quote id
                * then parse the job_spec from a string to json, this then updates the formData
                * Object that gets passed into the Builder Form when we set showEdit to true.
                */
                this.jobID.job_id = id;
                const indexID = this.myJobs.findIndex(x => x.id === id);
                // updates job spec with id of job then adds to formData to be used by builderForm
                this.currentJob = this.myJobs[indexID];

                let spec_data = JSON.parse(this.currentJob.quote.job_spec);
                spec_data.id = id;
                this.formData = spec_data;

                this.showEdit = true;

                // added class to body so use can't scroll the background while in modal.
                document.querySelector('body').classList.add('no-scroll');

                // TODO:: Replicate quote edit locally
            },
            updateJob(id) {
                let self = this;
                axios.get('/api/jobs/pickup/'+ id).then(response => {
                    console.log(response);
                    self.editJobWorker(response.data.job_object.id, response.data.job_object.worker);

                }).catch(error => {
                    console.log(error);
                });
            },
            editJobWorker(id , worker){
                this.jobs.filter(job => {
                        if (job.id === id) {
                            console.log(job);
                           job.worker = worker;
                            job.worker_name = worker.name;
                        }
                    })
            },
            removeQuote(id) {
                /*
                * if user confirms to remove quote clicked it finds index of the object
                * in array that has the same id as the item clicked then splices
                * it out of array
                *
                * then sends a post request to remove from DB
                */
                let self = this;

                if (confirm('Are you sure you want to remove this Quote?')) {
                    const index = self.quotes.findIndex(x => x.id === id);
                    if (index >= 0) {
                        self.quotes.splice(index, 1);
                    }

                    this.quoteID.quote_id = id;
                    axios.post('/api/quotes/remove', self.quoteID).then(response => {
                        // TODO :: REMOVE ON PRODUCTION
                        console.log('Removed Quote');
                    }).catch(error => {
                        console.log(error);
                    });
                }
            },
            closeEdit() {
                this.showEdit = false;
                let self = this;
                document.querySelector('body').classList.remove('no-scroll');
                $.getJSON('/api/jobs/', function(data) {
                    self.jobs = data;
                });
            },
            localUpdate(id) {
                const indexID = this.quotes.findIndex(x => x.id === id);
                // update quote locally after quote save.
                this.quotes[indexID].job_cost = this.response.cost;
                this.quotes[indexID].job_time = this.response.basetime;
                this.quotes[indexID].quote_cost = this.response.cost + 100;
            }
        },
        mounted() {
            let self = this;
            // Gets quotes for user and puts them into the quotes array
            $.getJSON('/api/jobs/', function(data) {
                self.jobs = data;
            });
            $.getJSON('/api/user/id', function(data) {
                self.worker_id = data;
            });
        },
        watch: {
            // Watches for any changes in data then runs the Local Validation.
            response: {
                handler(val){
                    this.localUpdate(this.quoteID.quote_id);
                },
                deep: true
            }
        }
    }
</script>
<style scoped lang="scss">
    @import '../../sass/jobs.scss';
    @import '../../sass/modal.scss';
    @import '../../sass/buttons.scss';
</style>
