<template>
    <div class="progress">
        <div class="progress-bar" role="progressbar" :aria-valuenow="this.progress" aria-valuemin="0" aria-valuemax="100" :style="'width:'+ this.progress + '%'">
            <span class="sr-only">{{this.progress}}% Complete</span>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            progress: null
        }
    };
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    @import '../../sass/progress_bar.scss';
</style>
