<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Example Component</div>
                    <div class="card-body">
                        <div class="quote" v-for="quote in quotes" :key="quote.id">
                            <div class="row">
                                <div class="info">
                                    <span>£{{quote.quote_cost}}</span><br>
                                    <span>{{quote.job_time}}</span>
                                </div>
                                <div class="actions" v-if="quote.purchased == 0">
                                    <button class="btn action" @click="editQuote(quote.id)"><font-awesome-icon icon="edit" /></button>
                                    <button class="btn default" @click="purchaseQuote(quote.id)"><font-awesome-icon icon="shopping-cart" /></button>
                                    <button class="btn danger" @click="removeQuote(quote.id)"><font-awesome-icon icon="trash-alt" /></button>
                                </div>
                                <div class="action-info" v-if="quote.purchased === 1 && quote.job != null">
                                    <span v-if="quote.job.id != null">Order ID #{{quote.job.id}}</span><br>
                                    <span class="finished" v-if="quote.job.progress == 100">
                                        Build Finished
                                        <b><font-awesome-icon :icon="['far','check-circle']" /></b>
                                    </span>
                                </div>
                            </div>
                            <div class="row" v-if="quote.job != null">
                                <progressBar :progress="quote.job.progress"></progressBar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-wrapper" v-if="this.showEdit">
            <div class="modal">
                <div class="modal-bg" @click="closeEdit"></div>
                <div class="modal-con">
                    <button class="close" @click="closeEdit">&times;</button>
                    <BuilderForm
                        v-if="this.formData"
                        type="quote"
                        :formData="this.formData"
                    ></BuilderForm>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import BuilderForm from './BuilderForm.vue'
    export default {
        data() {
            return {
                quotes: [],
                quoteID: {
                    quote_id: null
                },
                showEdit: false,
                formData: {},
                response: {
                    cost: '',
                    basetime: '',
                    shapetime: '',
                    skill_level: '',
                },
            }
        },
        methods: {
            editQuote(id) {
                /*
                * if use clicks edit find the index of the quote using the quote id
                * then parse the job_spec from a string to json, this then updates the formData
                * Object that gets passed into the Builder Form when we set showEdit to true.
                */
                this.quoteID.quote_id = id;

                if (this.formData.id != id) {
                    const indexID = this.quotes.findIndex(x => x.id === id);
                    let data = JSON.parse(this.quotes[indexID].job_spec);
                    data.id = id;
                    this.formData = data;
                }

                this.showEdit = true;

                // added class to body so use can't scroll the background while in modal.
                document.querySelector('body').classList.add('no-scroll');

                // TODO:: Replicate quote edit locally
            },
            purchaseQuote(id) {
                const indexID = this.quotes.findIndex(x => x.id === id);
                let quote_data = this.quotes[indexID];

                let self = this;
                axios.post('/api/quotes/purchase', {'quote':quote_data}).then(response => {
                    // updates quote object with job object so it doesn't need a page refresh.
                    let quote = this.quotes[indexID];
                    quote.job = response.data.job;
                    this.quotes[indexID] = quote;
                    // updates the states of purchased in the quote
                    this.quotes[indexID].purchased = response.data.job.quote.purchased;
                }).catch(error => {
                    console.log(error);
                });
            },
            // TODO :: Add Purchased Function.
            removeQuote(id) {
                /*
                * if user confirms to remove quote clicked it finds index of the object
                * in array that has the same id as the item clicked then splices
                * it out of array
                *
                * then sends a post request to remove from DB
                */
                let self = this;

                if (confirm('Are you sure you want to remove this Quote?')) {
                    const index = self.quotes.findIndex(x => x.id === id);
                    if (index >= 0) {
                        self.quotes.splice(index, 1);
                    }

                    this.quoteID.quote_id = id;
                    axios.post('/api/quotes/remove', self.quoteID).then(response => {
                        // TODO :: REMOVE ON PRODUCTION
                        console.log('Removed Quote');
                    }).catch(error => {
                        console.log(error);
                    });
                }
            },
            closeEdit() {
                this.showEdit = false;
                document.querySelector('body').classList.remove('no-scroll');
            },
            localUpdate(id) {
                const indexID = this.quotes.findIndex(x => x.id === id);
                // update quote locally after quote save.
                this.quotes[indexID].job_cost = this.response.cost;
                this.quotes[indexID].job_time = this.response.basetime;
                this.quotes[indexID].quote_cost = this.response.cost;
            }
        },
        mounted() {
            var self = this;
            // Gets quotes for user and puts them into the quotes array
            $.getJSON('/api/quotes/', function(data) {
                self.quotes = data;
            });
        },
        watch: {
            // Watches for any changes in data then runs the Local Validation.
            response: {
                handler(val){
                    this.localUpdate(this.quoteID.quote_id);
                },
                deep: true
            }

        }
    }
</script>
<style scoped lang="scss">
    @import '../../sass/quotes.scss';
    @import '../../sass/modal.scss';
    @import '../../sass/buttons.scss';
</style>
