<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">Admin Users</div>
                    <div class="card-body">
                        <p class="noUsersMessage" v-if="this.adminUsers <= 0">There Are no Admin Users</p>
                        <div class="role" v-for="item in adminUsers" :key="item.id">
                            <div class="info">
                                <p v-if="item.user != null">Email: {{item.user.email}}</p>
                            </div>
                            <div class="actions">
                                <button class="btn action" @click="editRole(item.id)"><font-awesome-icon icon="edit" /></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">Worker Users</div>
                    <div class="card-body">
                        <p class="noUsersMessage" v-if="this.workerUsers <= 0">There Are no Worker Users</p>
                        <div class="role" v-for="item in workerUsers" :key="item.id">
                            <div class="info">
                                <p v-if="item.user != null">Email: {{item.user.email}}</p>
                            </div>
                            <div class="actions">
                                <button class="btn action" @click="editRole(item.id)"><font-awesome-icon icon="edit" /></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">Normal Users</div>
                    <div class="card-body">
                        <p class="noUsersMessage" v-if="this.normalUsers <= 0">There Are no Normal Users</p>
                        <div class="role" v-for="item in normalUsers" :key="item.id">
                            <div class="info">
                                <p v-if="item.user != null">Email: {{item.user.email}}</p>
                            </div>
                            <div class="actions">
                                <button class="btn action" @click="editRole(item.id)"><font-awesome-icon icon="edit" /></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-wrapper" v-if="this.showEdit">
            <div class="modal">
                <div class="modal-bg" @click="closeEdit"></div>
                <div class="modal-con">
                    <button class="close" @click="closeEdit">&times;</button>
                    <div class="role">
                        <roleForm :currentUser="this.currentUser"></roleForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                users: [],
                showEdit: false,
                currentUser: {}
            }
        },
        computed: {
            adminUsers() {
                let filteredUsers = this.users.filter((user) => {
                    return user.role_id == 1;
                });
                return filteredUsers;
            },
            workerUsers() {
                let filteredUsers = this.users.filter((user) => {
                    return user.role_id == 2;
                });
                return filteredUsers;
            },
            normalUsers() {
                let filteredUsers = this.users.filter((user) => {
                    return user.role_id == 5;
                });
                return filteredUsers;
            }
        },
        methods: {
            editRole(id) {
                /*
                * if use clicks edit find the index of the quote using the quote id
                * then parse the job_spec from a string to json, this then updates the formData
                * Object that gets passed into the Builder Form when we set showEdit to true.
                */
                const indexID = this.users.findIndex(x => x.id === id);
                // updates job spec with id of job then adds to formData to be used by builderForm
                this.currentUser = this.users[indexID];

                this.showEdit = true;

                // added class to body so use can't scroll the background while in modal.
                document.querySelector('body').classList.add('no-scroll');

                // TODO:: Replicate quote edit locally
            },
            closeEdit() {
                this.showEdit = false;
                document.querySelector('body').classList.remove('no-scroll');
                let self = this;
                $.getJSON('/api/roles/', function(data) {
                    self.users = data;
                });
            }
        },
        mounted() {
            let self = this;
            $.getJSON('/api/roles/', function(data) {
                self.users = data;
            });
        }
    }
</script>
<style scoped lang="scss">
    @import '../../sass/roles.scss';
    @import '../../sass/modal.scss';
    @import '../../sass/buttons.scss';
</style>
