<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="user-form">

                    <h3>User Info for #{{currentUser.id}}</h3>

                    <div class="user-info">
                        <p v-if="currentUser.user != null">User: {{currentUser.user.name}}</p>
                        <p v-if="currentUser.user != null">ID: {{currentUser.user.id}}</p>
                        <p v-if="currentUser.user != null">Email: {{currentUser.user.email}}</p>
                    </div>

                    <div class="role">
                        <label for="roles">Roles</label>
                        <div class="select select-fancy select-fancy-noimage">
                            <select id="roles" v-model="currentUser.role_id">
                                <option value="1">Admin</option>
                                <option value="2">Worker</option>
                                <option value="5">Default</option>
                            </select>
                        </div>
                    </div>

                    <button class="btn action" @click="Update">Update Role</button>
                    <p class="msg" v-bind:class="{ 'default': isActive, 'danger': hasError }" v-if="this.msg != null">
                        {{this.msg}}
                    </p>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { error } from 'util';
import { setTimeout } from 'timers';
    export default {
        props: {
            currentUser: Object,
        },
        data() {
            return {
                user_id: null,
                msg: null,
                isActive: false,
                hasError: false
            }
        },
        methods: {
            Update: function(){
                let self = this;
                axios.post('/api/roles/update', {'user':this.currentUser}).then(response => {
                    //console.log(response);
                    if (response.data.status == 'error') {
                        this.msg = response.data.msg;
                        this.isActive = true;
                        this.hasError = true;
                    }else if (response.data.status == 'success'){
                        this.msg = response.data.msg;
                        this.isActive = true;
                        this.hasError = false;
                    }
                }).catch(error => {
                    console.log(error);
                });
            }
        },
        mounted() {
            let self = this;
            $.getJSON('/api/user/id', function(data) {
                self.user_id = data;
            });
        },
        watch: {
            // Watches for any changes in data then runs the Local Validation.
            currentUser: {
                handler(val){
                    this.currentUser.role.id = this.currentUser.role_id;
                    if (this.currentUser.role_id == 1) {
                        this.currentUser.role.name = 'admin';
                    }
                    if (this.currentUser.role_id == 2) {
                        this.currentUser.role.name = 'worker';
                    }
                    else if (this.currentUser.role_id == 5) {
                        this.currentUser.role.name = 'user';
                    }
                },
                deep: true
            }
        }
    };
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    @import '../../sass/roleForm.scss';
    @import '../../sass/states.scss';
    @import '../../sass/buttons.scss';
</style>
